.container {
  min-height: 100vh;
  background-color: #0f172a;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  color: #f8fafc;
  font-family: Roboto;
  font-size: 64px;
  font-weight: 700;
  text-align: center;
  margin: 0 0 50px;
}

.teams-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.teams-container img {
  width: 250px;
}

@media (max-width: 767px) {
  h1 {
    font-size: 36px;
  }

  .teams-container img {
    width: 150px;
  }
}
